# env and system files
venv/
.vscode/
.ipynb_checkpoints/
__pycache__/

# data files
data/
data copy/
data_colab/
data_all/
raw_images/
rgb_images/
real_fake_images.png

# test files
test.ipynb
tb.py
Demosaicing_colab.ipynb

# logs
logs/
